
target/test-classes/.netbeans_automatic_build
target/classes/.netbeans_automatic_build
target/classes/.netbeans_automatic_build
target/test-classes/.netbeans_automatic_build
target/test-classes/.netbeans_automatic_build
target/classes/.netbeans_automatic_build
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/Reflexologia-1.0-SNAPSHOT.jar
src/main/java/conexion/ConexionMySQL.java
src/main/java/conexion/ConexionMySQL.java
